
<div class="d-flex">
    <label class="btn form-control btn-left @cssLow">
        <input type="checkbox" class="align-middle mr-2" checked="@Low" @onchange="ChangeLow" />
        <span class="align-middle">Low</span>
    </label>
    <label class="btn form-control btn-middle @cssNormal">
        <input type="checkbox" class="align-middle mr-2" checked="@Normal" @onchange="ChangeNormal" />
        <span class="align-middle">Normal</span>
    </label>
    <label class="btn form-control btn-right @cssHigh">
        <input type="checkbox" class="align-middle mr-2" checked="@High" @onchange="ChangeHigh" />
        <span class="align-middle">High</span>
    </label>

</div>

@code {
    [Parameter]
    public bool Low { get; set; }
    [Parameter]
    public EventCallback<bool> LowChanged { get; set; }
    [Parameter]
    public bool Normal { get; set; }
    [Parameter]
    public EventCallback<bool> NormalChanged { get; set; }
    [Parameter]
    public bool High { get; set; }
    [Parameter]
    public EventCallback<bool> HighChanged { get; set; }

    string cssInactive = "btn-light bg-white text-secondary";
    string cssLow => Low ? "alert-secondary" : cssInactive;
    string cssNormal => Normal ? "alert-primary" : cssInactive;
    string cssHigh => High ? "alert-danger" : cssInactive;

    async Task ChangeLow()
    {
        Low = !Low;
        await LowChanged.InvokeAsync(Low);
    }
    async Task ChangeNormal()
    {
        Normal = !Normal;
        await NormalChanged.InvokeAsync(Normal);
    }
    async Task ChangeHigh()
    {
        High = !High;
        await HighChanged.InvokeAsync(High);
    }
}
